nav#bottomSidebar.cbp-spmenu.wv_sidebar.cbp-spmenu-horizontal.cbp-spmenu-bottom.fixed
  .container
    .col-lg-3.col-md-4.col-sm-4
      #filter.btn-group(role='group', aria-label='...')
        button#filter_Wikipedia.btn.btn-default(data-source='Wikipedia', type='button')
          i.fa.fa-wikipedia-w
          |      Wikipedia
        button#filter_Flickr.btn.btn-default(data-source='Flickr', type='button')
          i.fa.fa-flickr
          |         Flickr
        button#filter_Instagram.btn.btn-default(data-source='Instagram', type='button')
          i.fa.fa-instagram
          |      Instagram
        button#filter_Youtube.btn.btn-default(data-source='Youtube', type='button')
          i.fa.fa-youtube-square
          |      Youtube
        button#filter_Twitter.btn.btn-default(data-source='Twitter', type='button')
          i.fa.fa-twitter
          |        Twitter
        button#filter_Soundcloud.btn.btn-default(data-source='Soundcloud', type='button')
          i.fa.fa-soundcloud
          |     Soundcloud
        button#filter_All.btn.btn-default(data-source='All', type='button') All
    .col-lg-6.col-md-6.col-sm-6
      #mindmap
    .col-lg-3.col-md-3.col-sm-3