select#searchLang.selectpicker.pull-right.show-menu-arrow(name='input', data-size='10', data-width='100%', data-style='btn btn-default', data-live-search='true')
      option(value='en') English
      option(value='de') Deutsch
      option(value='fr') Français
      option(value='nl') Nederlands
      option(value='it') Italiano
      option(value='es') Español
      option(value='pl') Polski
      option(value='ru') Русский
      option(value='ja') 日本語
      option(value='pt') Português
      option(value='zh') 中文
      option(value='sv') Svenska
      option(value='vi') Tiếng Việt
      option(value='uk') Українська
      option(value='ca') Català
      option(value='no') Norsk (Bokmål)
      option(value='fi') Suomi
      option(value='cs') Čeština
      option(value='fa') فارسی
      option(value='hu') Magyar
      option(value='ko') 한국어
      option(value='ro') Română
      option(value='id') Bahasa Indonesia
      option(value='ar') العربية
      option(value='tr') Türkçe
      option(value='sk') Slovenčina
      option(value='kk') Қазақша
      option(value='eo') Esperanto
      option(value='da') Dansk
      option(value='sr') Српски / Srpski
      option(value='lt') Lietuvių
      option(value='eu') Euskara
      option(value='ms') Bahasa Melayu
      option(value='he') עברית
      option(value='bg') Български
      option(value='sl') Slovenščina
      option(value='vo') Volapük
      option(value='hr') Hrvatski
      option(value='war') Winaray
      option(value='hi') हिन्दी
      option(value='et') Eesti
      option(value='gl') Galego
      option(value='nn') Nynorsk
      option(value='az') Azərbaycanca
      option(value='simple') Simple English
      option(value='la') Latina
      option(value='el') Ελληνικά
      option(value='th') ไทย
      option(value='sh') Srpskohrvatski / Српскохрватски
      option(value='oc') Occitan
      option(value='new') नेपाल भाषा
      option(value='mk') Македонски
      option(value='ka') ქართული
      option(value='roa-rup') Armãneashce
      option(value='tl') Tagalog
      option(value='pms') Piemontèis
      option(value='be') Беларуская
      option(value='ht') Krèyol ayisyen
      option(value='te') తెలుగు
      option(value='uz') O‘zbek
      option(value='ta') தமிழ்
      option(value='be-x-old') Беларуская (тарашкевіца)
      option(value='lv') Latviešu
      option(value='br') Brezhoneg
      option(value='sq') Shqip
      option(value='ceb') Sinugboanong Binisaya
      option(value='jv') Basa Jawa
      option(value='mg') Malagasy
      option(value='cy') Cymraeg
      option(value='mr') मराठी
      option(value='lb') Lëtzebuergesch
      option(value='is') Íslenska
      option(value='bs') Bosanski
      option(value='hy') Հայերեն
      option(value='my') မြန်မာဘာသာ
      option(value='yo') Yorùbá
      option(value='an') Aragonés
      option(value='lmo') Lumbaart
      option(value='ml') മലയാളം
      option(value='fy') Frysk
      option(value='pnb') شاہ مکھی پنجابی (Shāhmukhī Pañjābī)
      option(value='af') Afrikaans
      option(value='bpy') ইমার ঠার/বিষ্ণুপ্রিয়া মণিপুরী
      option(value='bn') বাংলা
      option(value='sw') Kiswahili
      option(value='io') Ido
      option(value='scn') Sicilianu
      option(value='ne') नेपाली
      option(value='gu') ગુજરાતી
      option(value='zh-yue') 粵語
      option(value='ur') اردو
      option(value='ba') Башҡорт
      option(value='nds') Plattdüütsch
      option(value='ku') Kurdî / كوردی
      option(value='ast') Asturianu
      option(value='ky') Кыргызча
      option(value='qu') Runa Simi
      option(value='su') Basa Sunda
      option(value='diq') Zazaki
      option(value='tt') Tatarça / Татарча
      option(value='ga') Gaeilge
      option(value='cv') Чăваш
      option(value='ia') Interlingua
      option(value='nap') Nnapulitano
      option(value='bat-smg') Žemaitėška
      option(value='map-bms') Basa Banyumasan
      option(value='als') Alemannisch
      option(value='wa') Walon
      option(value='kn') ಕನ್ನಡ
      option(value='am') አማርኛ
      option(value='sco') Scots
      option(value='ckb') Soranî / کوردی
      option(value='gd') Gàidhlig
      option(value='bug') Basa Ugi
      option(value='tg') Тоҷикӣ
      option(value='mzn') مَزِروني
      option(value='hif') Fiji Hindi
      option(value='zh-min-nan') Bân-lâm-gú
      option(value='yi') ייִדיש
      option(value='vec') Vèneto
      option(value='arz') مصرى (Maṣrī)
      option(value='roa-tara') Tarandíne
      option(value='nah') Nāhuatl
      option(value='os') Иронау
      option(value='sah') Саха тыла (Saxa Tyla)
      option(value='mn') Монгол
      option(value='sa') संस्कृतम्
      option(value='pam') Kapampangan
      option(value='hsb') Hornjoserbsce
      option(value='li') Limburgs
      option(value='mi') Māori
      option(value='si') සිංහල
      option(value='se') Sámegiella
      option(value='co') Corsu
      option(value='gan') 贛語
      option(value='glk') گیلکی
      option(value='bar') Boarisch
      option(value='bo') བོད་སྐད
      option(value='fo') Føroyskt
      option(value='ilo') Ilokano
      option(value='bcl') Bikol
      option(value='mrj') Кырык Мары (Kyryk Mary) 
      option(value='fiu-vro') Võro
      option(value='nds-nl') Nedersaksisch
      option(value='ps') پښتو
      option(value='tk') تركمن / Туркмен
      option(value='vls') West-Vlams
      option(value='gv') Gaelg
      option(value='rue') русиньскый язык
      option(value='pa') ਪੰਜਾਬੀ
      option(value='xmf') მარგალური (Margaluri)
      option(value='pag') Pangasinan
      option(value='dv') Divehi
      option(value='nrm') Nouormand/Normaund
      option(value='zea') Zeêuws
      option(value='kv') Коми
      option(value='koi') Перем Коми (Perem Komi)
      option(value='km') ភាសាខ្មែរ
      option(value='rm') Rumantsch
      option(value='csb') Kaszëbsczi
      option(value='lad') Dzhudezmo
      option(value='udm') Удмурт кыл
      option(value='or') ଓଡ଼ିଆ
      option(value='mt') Malti
      option(value='mhr') Олык Марий (Olyk Marij)
      option(value='fur') Furlan
      option(value='lij') Líguru
      option(value='wuu') 吴语
      option(value='ug') ئۇيغۇر تىلى
      option(value='frr') Nordfriisk
      option(value='pi') पाऴि
      option(value='sc') Sardu
      option(value='zh-classical') 古文 / 文言文
      option(value='bh') भोजपुरी
      option(value='ksh') Ripoarisch
      option(value='nov') Novial
      option(value='ang') Englisc
      option(value='so') Soomaaliga
      option(value='stq') Seeltersk
      option(value='kw') Kernewek/Karnuack
      option(value='nv') Diné bizaad
      option(value='vep') Vepsän
      option(value='hak') Hak-kâ-fa / 客家話
      option(value='ay') Aymar
      option(value='frp') Arpitan
      option(value='pcd') Picard
      option(value='ext') Estremeñu
      option(value='szl') Ślůnski
      option(value='gag') Gagauz
      option(value='gn') Avañe
      option(value='ln') Lingala
      option(value='ie') Interlingue
      option(value='eml') Emiliàn e rumagnòl
      option(value='haw') Hawai`i
      option(value='xal') Хальмг
      option(value='pfl') Pfälzisch
      option(value='pdc') Deitsch
      option(value='rw') Ikinyarwanda
      option(value='krc') Къарачай-Малкъар (Qarachay-Malqar)
      option(value='crh') Qırımtatarca
      option(value='ace') Bahsa Acèh
      option(value='to') faka Tonga
      option(value='as') অসমীয়া
      option(value='ce') Нохчийн
      option(value='kl') Kalaallisut
      option(value='arc') Aramaic
      option(value='dsb') Dolnoserbski
      option(value='myv') Эрзянь (Erzjanj Kelj)
      option(value='pap') Papiamentu
      option(value='bjn') Bahasa Banjar
      option(value='sn') chiShona
      option(value='tpi') Tok Pisin
      option(value='lbe') Лакку
      option(value='lez') Лезги чІал (Lezgi č’al)
      option(value='kab') Taqbaylit
      option(value='mdf') Мокшень (Mokshanj Kälj)
      option(value='wo') Wolof
      option(value='jbo') Lojban
      option(value='av') Авар
      option(value='srn') Sranantongo
      option(value='cbk-zam') Chavacano de Zamboanga
      option(value='bxr') Буряад
      option(value='ty') Reo Mā`ohi
      option(value='lo') ລາວ
      option(value='kbd') Адыгэбзэ (Adighabze)
      option(value='ab') Аҧсуа
      option(value='tet') Tetun
      option(value='mwl') Mirandés
      option(value='ltg') Latgaļu
      option(value='na') dorerin Naoero
      option(value='kg') KiKongo
      option(value='ig') Igbo
      option(value='nso') Sesotho sa Leboa
      option(value='za') Cuengh
      option(value='kaa') Qaraqalpaqsha
      option(value='zu') isiZulu
      option(value='chy') Tsetsêhestâhese
      option(value='rmy') romani – रोमानी
      option(value='cu') Словѣньскъ
      option(value='tn') Setswana
      option(value='chr') ᏣᎳᎩ
      option(value='got') Gothic
      option(value='cdo') Mìng-dĕ̤ng-ngṳ̄
      option(value='sm') Gagana Samoa
      option(value='bi') Bislama
      option(value='mo') Молдовеняскэ
      option(value='bm') Bamanankan
      option(value='iu') ᐃᓄᒃᑎᑐᑦ
      option(value='pih') Norfuk
      option(value='ss') SiSwati
      option(value='sd') سنڌي، سندھی ، सिन्ध
      option(value='pnt') Ποντιακά
      option(value='ee') Eʋegbe
      option(value='ki') Gĩkũyũ
      option(value='om') Oromoo
      option(value='ha') هَوُسَ
      option(value='ti') ትግርኛ
      option(value='ts') Xitsonga
      option(value='ks') कश्मीरी / كشميري
      option(value='fj') Na Vosa Vakaviti
      option(value='sg') Sängö
      option(value='ve') Tshivenda
      option(value='rn') Kirundi
      option(value='cr') Nehiyaw
      option(value='ak') Akana
      option(value='tum') chiTumbuka
      option(value='lg') Luganda
      option(value='dz') ཇོང་ཁ
      option(value='ny') Chi-Chewa
      option(value='ik') Iñupiak
      option(value='ch') Chamoru
      option(value='ff') Fulfulde
      option(value='st') Sesotho
      option(value='tw') Twi
      option(value='xh') isiXhosa
      option(value='ng') Oshiwambo
      option(value='ii') ꆇꉙ
      option(value='cho') Choctaw
      option(value='mh') Ebon
      option(value='aa') Afar
      option(value='kj') Kuanyama
      option(value='ho') Hiri Motu
      option(value='mus') Muskogee
      option(value='kr') Kanuri
      option(value='hz') Otsiherero
